<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">page name</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon128.png" type="png">
</head>

<body>

    <!-- VENTANAS MODALES ---------------------------------------------------------->
    <!-- VENTANA MODAL INICIAR SESION ---------------------------------------------->
    <dialog class="modal-iniciar-sesion">
        <div class="iniciar-sesion">
            <form method="dialog" class="modal-iniciar-sesion__close-button">
                <button>X</button>
            </form>
            <img src="/img/logo-blanco.png" alt="logo" class="iniciar-sesion__logo">
            <h2 class="iniciar-sesion__titulo">Login</h2>
            <form action="post">
                <input type="text" id="nombre-usuario-iniciar-sesion" class="input-form" placeholder="Usuario">
                <input type="password" class="input-form" placeholder="Contraseña">
                <input type="submit" value="Iniciar Sesion" class="input-button">
            </form>
            <p class="iniciar-sesion-alternativa">¿no tienes cuenta? <span class="OPEN-modal-crear-cuenta CLOSE-modal-iniciar-sesion">Crear Cuenta</span></p>
        </div>
    </dialog>

    <!-- VENTANA MODAL Crear Cuenta ------------------------------------------------>
    <dialog class="modal-crear-cuenta">
        <div class="crear-cuenta">
            <form method="dialog" class="modal-crear-cuenta__close-button">
                <button>X</button>
            </form>
            <img src="/img/logo-blanco.png" alt="logo" class="crear-cuenta__logo">
            <h2 class="crear-cuenta__titulo">Crear Cuenta</h2>
            <form class="modal-form" id="crear-cuenta-form">
                <input type="text" id="nombre-usuario-crear-cuenta" class="input-form-crear-cuenta" placeholder="Nombre de Usuario">
                <input type="text" id="correo-electronico-crear-cuenta" class="input-form-crear-cuenta" placeholder="Correo electronico">
                <input type="password" id="contrasena-crear-cuenta" class="input-form-crear-cuenta" placeholder="Contraseña">
                <input type="password" id="confirmar-contrasena-crear-cuenta" class="input-form-crear-cuenta" placeholder="Confirmar Contraseña">
                <label for="" id="error-label-crear-cuenta">El nombre de usuario ingresado contiene menos de 4 caracteres o mas de 30 caracteres.</label> <!-- Aquí se insertarán los mensajes de error -->
                <input type="submit" value="Crear Cuenta" class="input-button">
            </form>
            <p class="crear-cuenta-alternativa">¿ya tienes una cuenta? <span class="OPEN-modal-iniciar-sesion CLOSE-modal-crear-cuenta">Iniciar sesion</span></p>
        </div>
    </dialog>
    <!-- VENTANA MODAL buscar Receta BR----------------------------------------------->
    <dialog class="modal-buscar-receta">
        <div class="buscar-receta">
            <form method="dialog" class="modal-buscar-receta__close-button">
                <button>X</button>
            </form>

            <div class="categoria-tipo-box">
                <div class="animal-custom-select" id="BR-animal-custom-select">
                    <div class="animal-select-selected" id="BR-animal-select-selected">Animal</div>
                    <div class="animal-select-items" id="BR-animal-select-items">
                        <div data-value="perro">Perro</div>
                        <div data-value="gato">Gato</div>
                        <div data-value="conejo">Conejo</div>
                        <div data-value="tortuga">Tortuga</div>
                        <div data-value="ave">Ave</div>
                    </div>
                </div>

                <div class="tipo-custom-select" id="BR-tipo-custom-select">
                    <div class="tipo-select-selected" id="BR-tipo-select-selected">Tipo</div>
                    <div class="tipo-select-items" id="BR-tipo-select-items">
                    </div>
                </div>

            </div>

            <div class="buscar-por-ingrediente">
                <input type="text" class="ingrediente-input" placeholder="Escribe un ingrediente..." />
                <div class="ingrediente-select-items">
                </div>
                <div class="resultados"></div> <!-- Aquí se añadirán los divs creados -->
                <div class="input-button--aling">
                    <input type="submit" value="Buscar" class="input-button input-button--buscar-receta">
                </div>
                

            </div>

        </div>
    </dialog>

    <!-- header -------------------------------------------------------------------->
    <header class="cabecera">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list__item  item--logo">
                    <a href="main.html">
                        <img src="/img/logoCuchara.png" alt="logo" class="logo-header">
                    </a>
                </li>
                

                <li class="nav__list__item item--buscador OPEN-modal-buscar-receta">
                    <img src="/img/lupa.png" alt="buscar" class="item--buscador--img">
                    <span>Buscar</span>
                </li>
                
                <li class="nav__list__item nav__list__item--flex">
                    <a class="item--crear-receta" href="crearReceta.html">
                        <img src="/img/crear-receta.png" alt="boton-crear-receta">
                    </a>
                    
                    <div class="item--iniciar-sesion OPEN-modal-iniciar-sesion">Iniciar Sesion</div>
                    <img src="/img/imagen4k.avif" alt="" class="foto-perfil-header">
                </li>
            </ul>
        </nav>
    </header>
    <!-- layout--------------------------------------------------------------------->
    <div class="layout">

        <div class="anuncioIzquierdo"></div>

        <main class="RCT-main">

            <div class="RCT-encabezado">

                <img th:src="@{/img/{imgCategoria}(imgCategoria=${imgCategoria})}" alt="foto-perfil" class="RCT-foto-receta-categoria">

                <div class="RCT-titulo-and-user">
                    <h1 class="RCT-titulo" th:text="${titulo}">Titulo de receta</h1>
                    <span  class="RCT-usuario">De <a  th:text="${usuario}"   th:href="@{/profile/{id}(id=${recipeUserId})}" >Nombre de Usuario</a></span>
                </div>
                
                
                
                <div class="RCT-interacciones">
                    <img src="/img/Report.png" alt="botoon Reportar receta" class="RCT-reportar-receta">
                    <img src="/img/Fav.png" alt="botoon Recomendar receta" class="RCT-recomendar-receta">
                </div> 
            </div>
            
            
            <p class="RCT-descripcion" th:text="${descripcion}" >Descripcion de recetas, como una breve descripcion de la comida o informacion que se le quiera informar al lector.No tan larga pero tampoco tan corta, mas o menos de unos 5 renglones. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, aperiam. Exercitationem deleniti aliquid delectus, distinctio aliquaml.</p>

            <h2 class="RCT-subtitulo">Detalles:</h2>
            <span  class="RCT-usuario">Para <span class="RCT-categoria" th:text="${categoria}">Categoria name</span></span>

            <ul class="RCT-lista-ingredientes">
                <!-- Aquí se itera sobre los ingredientes -->
                <li class="RCT-Ingrediente" th:each="ingrediente : ${ingredientes}" th:text="${ingrediente}">
                    Ingrediente 1
                </li>
            </ul>

            <div class="RCT-foto" th:if="${recipeImg != null}">
                <img th:src="@{/recipe-pictures/{recipeImg}(recipeImg=${recipeImg})}" th:alt="${titulo}">
            </div>
        </main>

        <div class="anuncioDerecho"></div>
    </div>
    <!--Scripts   ------------------------------------------------------------------>
    <script src="/js/script.js"></script>
    <script src="/js/recetaScript.js"></script>
    <script src="/js/sesion.js"></script>
</body>
</html>